<div class="color-palet">
	<h3>Color Palette</h3>
  <span>Click a box to select color</span>
  <ul>
    <% @colors.each do |color| %>
      <li style="background-color: <%= color.hex_code %>;" data-name="<%= color.name %>" data-code="<%= color.hex_code %>" class="color-palete-li">&nbsp;</li>
    <% end %>
    <li class="clear-fix">&nbsp;</li>
    <li><span>No Fill</span></li>
    <li class="no-fill">&nbsp;</li>
  </ul>
  <span>Selected Color: </span>
  <ul>
    <li class="selected-color" data-code="">&nbsp;</li>
  </ul>
</div>

<div class="color-grid">
  <h3>Color Grid</h3>
  <span>Select color form the above color palete and click a box below to color it</span>
  <ul>
    <% @grid_squares.each do |cell| %>
      <li class="grid-cell" data-cell-id="<%= cell.cell_id %>" data-color-id="<%= cell.recent_color.id %>" style="background-color: <%= cell.recent_color.hex_code%>">&nbsp;</li>
    <% end %>
    <li class="clear-fix">&nbsp;</li>
  </ul>
</div>